################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Crx.vNext.API/obj
/obj
/Crx.vNext.API/bin/Debug/net6.0
/Crx.vNext.API/log
/Crx.vNext.Common/bin/Debug/netstandard2.0
/Crx.vNext.Common/obj
/Crx.vNext.Framework/bin/Debug/net6.0
/Crx.vNext.Framework/obj
/Crx.vNext.IRepository/bin/Debug/netstandard2.0
/Crx.vNext.IRepository/obj
/Crx.vNext.IService/bin/Debug/netstandard2.0
/Crx.vNext.IService/obj
/Crx.vNext.Model/bin/Debug/netstandard2.0
/Crx.vNext.Model/obj
/Crx.vNext.Model/Crx.vNext.Model.xml
/Crx.vNext.Repository/obj
/Crx.vNext.Service/obj
