################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Crx.vNext.API/bin
/Crx.vNext.API/obj
/Crx.vNext.API/log
/Crx.vNext.Common/bin
/Crx.vNext.Common/obj
/Crx.vNext.Framework/bin
/Crx.vNext.Framework/obj
/Crx.vNext.IRepository/bin
/Crx.vNext.IRepository/obj
/Crx.vNext.IService/bin
/Crx.vNext.IService/obj
/Crx.vNext.Model/bin
/Crx.vNext.Model/obj
/Crx.vNext.Model/Crx.vNext.Model.xml
/Crx.vNext.Repository/bin
/Crx.vNext.Repository/obj
/Crx.vNext.Service/bin
/Crx.vNext.Service/obj
/Crx.vNext.Authentication/bin
/Crx.vNext.Authentication/obj
/Crx.vNext.Gateway/bin
/Crx.vNext.Gateway/obj
/ConsoleToken/obj
